<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>FriendList</h1>
    </header>
    <section id="app">
      <ul>
        <li v-for="friends in friends" :key="friends.id">
          <h2>{{friends.name}}</h2>
          <button @click="toggleShowButton">{{showButtonValue ? 'Hide Details' : 'Show Details' }}</button>
          <ul v-if="showButtonValue">
            <li><strong>Phone:</strong> {{friends.phone}}</li>
            <li><strong>Email:</strong> {{friends.email}}</li>
          </ul>
        </li>
      </ul>
    </section>
  </body>
</html>
